/*css login*/
html, body {
     height: inherit !important; 
}

.ui-datepicker th {
     background: #009045 !important;
     color:#fff !important;
 }

 .ui-datepicker .ui-datepicker-header {
     background: #f98929 !important;
 }

 .access-denied h2{
      text-align: center;
      color: red;
      font-size: 45px;
 }

.login-page{
	background-color: #ffffff;
}
.login-logo, .register-logo {
    background: #ffffff;
}

.login-logo img {
    width: 60%;
}

.login-box-msg{
	color: #e80c0c;
    font-weight: 600;
} 

.login-box-body{
	background-color: #ffffff;
}

.login-box-body input{
	font-size: 22px;
}

.login-box-body button{
	color: #fff;
    background: #f98929;
    font-size: 24px;
    letter-spacing: 2px;
}

.login-box-body button:hover, .login-box-body button:active{
    background: #f98929 !important;
    color: #fff !important;
    border: 2px solid #f98929;
}

.link-back{
	font-size: 20px;
	color: #000000;
}
/*fin css login*/
thead > tr{background: #222d32 !important}
.table thead > tr{color: #fff;font-size: 18px;}
tr:nth-child(even) {background: #d8e3e894 }
tr:nth-child(even):hover {background: #d8e3e894 !important}
tr:nth-child(odd) {background: #f3eeee7a}

.btn-actions{   
    position: fixed;
}

.actions{
	width: 15%;
}

.fa-arrows{
	margin: 11px;
	color: #dd4b39;
}

.order{
	text-align: center;
	width: 5%;
}

.pull-right .btn-primary{
	padding: 3px 23px;
    margin-bottom: 4px;
    margin-top: -32px;
    font-size: 20px;
}

.box-footer .btn-default{
	background: #ecf0f5;
    font-size: 20px;
    padding: 3px 7px;
}

.box-footer .btn-success{
	background: #009045;
    font-size: 20px;
    padding: 3px 7px;
    margin-left: 10px;
}

.box-footer .btn-success:hover{
	background: #f98929;
}

.alert-success{
     font-size: 20px;
     background: #3c8dbc !important;
     padding: 5px 10px;
}

.alert-danger{
     font-size: 20px;
     background: #b90808 !important;
     padding: 5px 10px;
}

.alert-dismissable .close, .alert-dismissible .close {
     position: relative !important;
     color: #dd4b39 !important;
     top: -2px !important;
     right: 3px !important;
     font-size: 36px !important;
     opacity: 0.7 !important;
 }

.skin-blue .main-header .navbar {
    background-color: #009045;
    border-bottom: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
}

.skin-blue .main-header .logo {
    background-color: #009045;
    border-bottom: 1px solid #ffffff
}

.fields-content input[type=text]{
	width: 250px;
}

.input-check-box{
	-ms-transform: scale(2) !important;
    -moz-transform: scale(2.2) !important;
    -webkit-transform: scale(2.2) !important;
    -o-transform: scale(2.2) !important;
    margin-left: 11px !important;
    margin-top: 12px !important;
    margin-right: 15px !important;
}

.w-5{width: 5%;}
.w-10{width: 10%;}
.w-15{width: 15%;}
.w-20{width: 20%;}
.w-25{width: 25%;}
.w-30{width: 30%;}
.w-40{width: 40%;}
.w-50{width: 50%;}

#example1 .fa-check{
	color: #009045;
}

#example1 .fa-times{
    color: #bf1010;
}

#example1 .fa-check:hover{
	color: #f98929;
}

td.drag-handle.ui-sortable-handle {
    text-align: center;
}

th.actions, td.btn-actions-index {
    text-align: center;
}

.sidebar-menu>li>a>.fa,.sidebar-menu>li>a>.fas, .sidebar-menu>li>a>.glyphicon, .sidebar-menu>li>a>.ion {
    width: 20px;
}

.delete-image i{
     color: #dd4b39;
     cursor: pointer;
}

.fade-leave-active {
  transition: 1s;
  transition: all .1s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.fade-enter, .fade-leave-to{
  transform: translate(100%, 0);
}

.fade-leave-to{
  transform: translate(-100%, 0);
}

.options-interest{
    display: inline-flex;
}

.options-interest input{
    width: 80px;
}
.edit-interest, .save-interest{
    cursor: pointer;
    font-size: 17px;
    margin-left: 7px;
    margin-top: 4px;
}

span.code-video-youtube {
    color: #009045;
}

@media(max-width:1200px) {
    .btn-actions {
        position: initial;
    }
}