.upper-case{

    text-transform: uppercase;

}



.not-valid{

	border: 2px solid #9e0404 !important;

	border-radius: 9px;

}



.is-valid1{

	border: 2px solid #78bd35 !important;

	border-radius: 9px;

}



input.is-valid1[type="checkbox"]{
	-webkit-box-shadow: 0px 0px 0px 2px rgba(120, 189, 53,1);
	-moz-box-shadow: 0px 0px 0px 2px rgba(120, 189, 53,1);
	box-shadow: 0px 0px 0px 2px rgba(120, 189, 53,1);
}



input.not-valid[type="checkbox"]{
	-webkit-box-shadow: 0px 0px 0px 2px rgba(154, 4, 4,1);
	-moz-box-shadow: 0px 0px 0px 2px rgba(154, 4, 4,1);
	box-shadow: 0px 0px 0px 2px rgba(154, 4, 4,1);
}



input.is-valid1[type="radio"]{
	-webkit-box-shadow: 0px 0px 0px 2px rgba(120, 189, 53,1);
	-moz-box-shadow: 0px 0px 0px 2px rgba(120, 189, 53,1);
	box-shadow: 0px 0px 0px 2px rgba(120, 189, 53,1);
}



input.not-valid[type="radio"]{
	-webkit-box-shadow: 0px 0px 0px 2px rgba(154, 4, 4,1);
	-moz-box-shadow: 0px 0px 0px 2px rgba(154, 4, 4,1);
	box-shadow: 0px 0px 0px 2px rgba(154, 4, 4,1);
}



.cursor{

	cursor: pointer !important;

}

.form_1_cnt h1 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 2.5rem;
    color: #2e2e2e;
}

.files{
    display: none;
}

.spinner, .spinner:after{
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: block;
}

.spinner {
  background-color: transparent;
  border-top: 5px solid #fff;
  border-right: 5px solid #fff;
  border-bottom: 5px solid #fff;
  border-left: 5px solid transparent;
}

.spinner,.spinner:after{
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
 }

@keyframes spinner-loading{
  0% {
      transform: rotate(0deg)
  } to {
      transform: rotate(1turn)
  }
}

.loader{
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  background: rgb(255 255 255 / 95%);
}
.loader .spinner{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: transparent;
    border-top: 5px solid #643c8d;
    border-right: 5px solid #643c8d;
    border-bottom: 5px solid #643c8d;
    border-left: 5px solid transparent;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: .8s;
    animation-name: spinner-loading;
}

.title-input{
    display: none;
}

.file_2, .file_3{
    display: none;
}

@media (min-width: 320px) {



    .container-tooltip .icon-tooltip.rate {

        margin-top: -16px;

    }



    .container-tooltip .icon-tooltip.rate .tooltip{

            width: 167px;

            left: -98px;

    }



    .container-tooltip .icon-tooltip {

        top: 12px;

    }

    .container-tooltip .tooltip {

        top: 40px;

        left: initial;

        right: -116px;

        width: 243px;

    }



    .container-tooltip .tooltip:before {

        border-top-color: transparent;

        border-right-color: transparent;

        border-bottom-color: #f3e68a;

        border-left-color: transparent;

        top: -29px;

        left: calc(50% - 24px);



    }

}

@media (min-width: 375px) {

     .container-tooltip .icon-tooltip.rate .tooltip{

        width: 191px;

        left: -70px;

    }

    

}

@media (min-width: 425px) {

    .container-tooltip .icon-tooltip.rate .tooltip{

        width: 240px;

        left: -70px;

    }

    .container-tooltip .tooltip {

        right: -170px;

        width: 270px;

    }



    .container-tooltip .tooltip:before {

        left: calc(35% - 24px);



    }

}



@media (min-width: 576px) {



}

@media (min-width: 768px) {

    .container-tooltip .icon-tooltip.rate .tooltip{

        left: 35px;

        width: 256px;

    }

    .container-tooltip .tooltip {

        top: -10px;

        left: 35px;

        width: 256px;

    }





    .container-tooltip .tooltip:before {

        border: 15px solid #f3e68a;

        content: '';

        border-top-color: transparent;

        border-bottom-color: transparent;

        border-left-color: transparent;

        position: absolute;

        left: -29px;

        top: calc(32px - 24px);



    }



    .bcenter_sm_m {

        float: none;

        margin: auto;

    }



}



@media (min-width: 992px) {

    

}



@media (min-width: 1100px) {

    .container-tooltip .icon-tooltip.rate {

        margin-top: 3px;

        padding: 1px 5px;

    }

    .container-tooltip .icon-tooltip {

        position: absolute;

        top: -7px;

        background: #ededed;

        border-radius: 50%;

        padding: 4px;

        margin-left: 6px;

        cursor: pointer;

    }

}



@media (min-width: 1210px) {

}

@media (min-width: 1441px) {



}

