@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



* {

    margin: 0;

    padding: 0;

    -ms-box-sizing: border-box;

    -o-box-sizing: border-box;

    box-sizing: border-box;

    font-family: 'Roboto', sans-serif;

    color: #1b1b1b;

}



html,

body {

    width: 100%;

    position: relative;

    font-size: 14px;

    line-height: 1;

    background: #fcfcfc;

}



html::-webkit-scrollbar {

    width: 8px;

    background: #eeeeee

}



html::-webkit-scrollbar-thumb {

    width: 8px;

    background: #643c8d

}



img {

    border-style: none;

    width: 100%;

    object-fit: cover;

    object-position: center;

    display: block

}



hr {

    box-sizing: content-box;

    overflow: visible

}



a {

    text-decoration: none

}



abbr[title] {

    border-bottom: none;

    text-decoration: underline;

    text-decoration: underline dotted

}



ul,

ol {

    list-style: none

}



button,

input,

optgroup,

select,

textarea {

    font-size: 100%;

    margin: 0;

    border: none;

    outline: none

}



button,

[type="button"],

[type="reset"],

[type="submit"] {

    -webkit-appearance: button;

    cursor: pointer

}



button::-moz-focus-inner,

[type="button"]::-moz-focus-inner,

[type="reset"]::-moz-focus-inner,

[type="submit"]::-moz-focus-inner {

    border-style: none;

    padding: 0

}



button:-moz-focusring,

[type="button"]:-moz-focusring,

[type="reset"]:-moz-focusring,

[type="submit"]:-moz-focusring {

    outline: 1px dotted ButtonText

}



fieldset {

    padding: 0.35em 0.75em 0.625em

}



legend {

    box-sizing: border-box;

    color: inherit;

    display: table;

    max-width: 100%;

    padding: 0;

    white-space: normal

}



textarea {

    overflow: auto

}



span,

strong {

    color: inherit

}



[type="search"] {

    -webkit-appearance: textfield;

    outline-offset: -2px

}



[type="number"]::-webkit-inner-spin-button,

[type="number"]::-webkit-outer-spin-button {

    height: auto

}



[type="search"]::-webkit-search-decoration {

    -webkit-appearance: none

}



::-webkit-file-upload-button {

    -webkit-appearance: button;

    font: inherit

}



h1,

h2,

h3,

h4,

h5,

h6 {

    font-family: 'Montserrat', sans-serif;

    letter-spacing: -0.06em

}



p {

    line-height: 133.33333%;

}



header {

    width: 100%;

    display: block;

    padding: 30px 80px;

    position: absolute;

    top: 0;

    left: 0;

    z-index: 200;

}



header .logo {

    width: 180px;

    position: relative;

    display: block;

}



section.banner {

    width: 100%;

    position: relative;

    display: flex;

    justify-content: center;

    align-items: center;

}



section.banner .bnr_img {

    width: 100%;

    position: relative;

    display: block;

}



section.banner .bnr_txt {

    width: 80%;

    max-width: 1400px;

    display: block;

    position: absolute;

}



section.banner .bnr_txt h2 {

    color: #fff;

    font-size: 7em;

    display: block;

    position: relative;

    width: 50%;

    line-height: 85%;

}



section.form_1 {

    width: 100%;

    position: relative;

    display: block;

    padding: 50px 0;

}



.form_1_cnt {

    width: 55%;

    position: relative;

    display: block;

    max-width: 1300px;

    margin: 0 auto;

}



.form_1_cnt>h5 {

    position: relative;

    display: block;

    font-size: 30px;

    margin-bottom: 5px;

}



.form_1_cnt>.form-document {

    width: 100%;

    position: relative;

    display: flex;

    flex-wrap: wrap;

    column-gap: 20px;

    row-gap: 20px;

    margin-top: 20px;

}



._input {

    width: 100%;

    position: relative;

    display: block;

}



._input.group {

    width: calc(50% - 10px);

}



._input input,

._input select {

    width: 100%;

    position: relative;

    display: block;

    border: 1px solid #3fa72f;

    padding: 15px 20px;

    border-radius: 7px;

    background: transparent;

    font-weight: 600;

}



._bottom {

    width: 100%;

    position: relative;

    display: flex;

    align-items: center;

    flex-wrap: wrap;
    margin-top: 7px;
}



._check {

    width: calc(100% - 120px);



}



._submit {

    position: relative;

    display: block;

}



.btn {

    width: fit-content;

    height: fit-content;

    position: relative;

    display: block;

    padding: 10px 25px;

    background: #643c8d;

    color: #fff;

    font-weight: 600;

    border-radius: 25px;

    transition: .4s ease;

}



.btn:hover {

    background: #7f54aa;

}



._check {

    width: calc(100% - 200px);

    position: relative;

    display: flex;

    align-items: flex-start;

    margin-right: 8px;

}



._check p {

    position: relative;

    display: block;

    margin-left: 7px;

    font-size: 12px;

}



._check p>a {

    color: #3fa72f;

}



._file {

    width: 100%;

    position: relative;

    display: flex;

    flex-wrap: wrap;

    align-items: center;

    padding: 20px 0;

    border-bottom: 1px solid #d1d1d1;
    margin-bottom: 4px;
}



._file label {

    position: relative;

    display: block;

    font-weight: 700;

    color: #fff;

    background: #643c8d;

    padding: 9px 12px;

    cursor: pointer;

    line-height: 100%;

    font-size: 12px;

    letter-spacing: 0.02em;

    margin: -8px 5px 0 0;

}



._file span {

    position: relative;

    display: block;

    font-weight: 700;

    color: #643c8d;

    line-height: 100%;

    font-size: 12px;

    letter-spacing: 0.02em;

}



._file p {

    position: relative;

    display: block;

    line-height: 100%;

    font-size: 13px;

    letter-spacing: 0.02em;

    text-align: justify;

    width: 100%;

    margin-bottom: 15px;

}



._file label>input {

    display: none;

}







footer {

    width: 100%;

    position: relative;

    display: block;

    padding: 30px;

    background: #d7d7d7;

}



.ftr_cnt {

    width: 100%;

    position: relative;

    display: block;

}



.ftr_cnt p {

    position: relative;

    display: block;

    color: #2e2e2e;

    text-transform: uppercase;

    font-size: 12px;

    font-weight: 500;

    letter-spacing: 0.2em;

    text-align: center;

    line-height: 100%;

}



@media (max-width:768px) {

    section.banner .bnr_img img {

        height: 600px;

    }



    section.banner .bnr_txt h2 {

        font-size: 5em;

    }



    .form_1_cnt {

        width: 90%;

    }



    ._file p {

        width: 100%;

        margin-bottom: 15px;

    }

}



@media (max-width:575px) {

    section.banner .bnr_img img {

        height: 500px;

    }



    section.banner .bnr_txt h2 {

        font-size: 3.5em;

    }



    ._check {

        width: 100%;

        margin-bottom: 15px;

    }



    ._bottom {

        justify-content: center;

    }



    header {

        padding: 20px;

    }



    header .logo {

        width: 130px;

    }

}